.container {
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    margin: 0 auto;
    height: 600px;
    border: 2px solid black;
    box-sizing: content-box;
}


.boxes {
    height: 37.5px;
    width: 37.5px;
    border: 1.2px solid black;
    display: inline-block;
    box-sizing: border-box;
}

.forButton {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
