.box {
    height: 20px;
    width: 20px;
    border: 1px solid black;
    /* display: flex; */
    box-sizing: border-box;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    width: 320px;
    border: 1px solid black;
}